.image-style {
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(3, 3, 3, 0.2);
}

.projectCard {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(45, 101, 172, 0.15);
}
.accordian {
  margin: 0;
  width: 460px;
  transition: transform 1s;
}

.accordian:hover {
  transform: scale(1.1);
}

.toggle {
  margin-bottom: -25px;
  padding: 0;
  background-color: white;
  border: none;
}

@media (max-width: 1024px) {
  .accordian {
    width: 340px;
  }
}
