.image-style {
  border-radius: 8px;
  box-shadow: 0px 4px 30px rgba(45, 101, 172, 0.2);
}

.projectCard {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px rgba(45, 101, 172, 0.2);
}
.accordian {
  margin: 0;
  width: 460px;
}
.toggle {
  margin-bottom: -25px;
  padding: 0;
  background-color: white;
  border: none;
}

@media (max-width: 1024px) {
  .accordian {
    width: 340px;
  }
}
